<footer>
	<!-- CONTAINER -->
	<div class="container">
		<div class="footer__top">
			<div>
				<a href="index.html" class="footer__logo-company">
					<img src="img/logo-company.svg" width="130" height="46" alt="Семікс Бетон">
				</a>
				<p>Виробництво бетону та залізобетонних виробів, доставка сипучих будівельних матеріалів, оренда опалубки.
				</p>
			</div>
			<div>
				<section>
					<h3>Посилання</h3>
					<ul class="footer__list-1">
						<li>
							<a href="javascript:void(0)">Головна</a>
						</li>
						<li>
							<a href="javascript:void(0)">Про нас</a>
						</li>
						<li>
							<a href="javascript:void(0)">Контакти</a>
						</li>
					</ul>
					<ul class="footer__list-1">
						<li>
							<a href="javascript:void(0)">Продукцiя</a>
						</li>
						<li>
							<a href="javascript:void(0)">Послуги</a>
						</li>
						<li>
							<a href="javascript:void(0)">Новини та акції</a>
						</li>
					</ul>
				</section>
			</div>
			<div>
				<section>
					<h3>Контакти</h3>
					<ul class="footer__list-2">
						<li>
							Виробництво: м. Рівне, вул. Кн. Володимира,<br>
							112Б
						</li>
						<li>
							Головний офіс: м. Рівне, вул. Мазепи 4а/6а,<br>
							офіс 511
						</li>
						<li>
							<a href="tel:+380631204020">+38 (063) 120-40-20</a>
							<a href="tel:+380671204020">+38 (067) 120-40-20</a>
						</li>
						<li>
							<a href="mailto:office@semiks-beton.com.ua">office@semiks-beton.com.ua</a>
						</li>
					</ul>
				</section>
			</div>
		</div>
		<div class="footer__bottom">
			<p class="copyright">
				© 2022 Всі права захищено. <a href="index.html">Семікс Бетон</a>.
			</p>
		</div>
	</div><!-- END CONTAINER -->
</footer>
