<header>
	<!-- CONTAINER -->
	<div class="container">
		<div class="header__bl-1">
			<a href="index.html" class="header__logo-company">
				<img src="img/logo-company.svg" width="160" height="57" alt="Семікс Бетон">
				<strong>Виробник бетонних<br>
					сумішей та<br>
					залізобетонних<br>
					виробів</strong>
			</a>
		</div>
		<div class="header__bl-2">
			<nav class="header__nav header-nav">
				<ul class="header-nav__list">
					<li>
						<a href="javascript:void(0)">Про компанiю</a>
					</li>
					<li>
						<a href="javascript:void(0)">Продукцiя</a>
					</li>
					<li>
						<a href="javascript:void(0)">Послуги</a>
					</li>
					<li>
						<a href="javascript:void(0)">Контакти</a>
					</li>
				</ul>
			</nav>
		</div>
		<div class="header__bl-3">
			<div class="header__phones-wrapper">
				<svg>
					<use href="img/sprite-svg-fill-delete.svg#phone"></use>
				</svg>
				<ul class="header__phones">
					<li>
						<a href="tel:+380631204020">+38 (063) 120-40-20</a>
					</li>
					<li>
						<a href="tel:+380671204020">+38 (067) 120-40-20</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="header__bl-6">
			<ul class="header__lang">
				<li>
					<a href="javascript:void(0)">En</a>
				</li>
			</ul>
		</div>
		<div class="header__bl-4">
			<ul class="header__address">
				<li>
					м. Рівне,<br>
					вул. Кн. Володимира, 112Б
				</li>
			</ul>
			<ul class="s_ocial header__s_ocial">
				<li>
					<a href="javascript:void(0)" class="s_ocial__y_outube">
						<svg>
							<use href="img/sprite-svg-fill-delete.svg#youtube"></use>
						</svg>
					</a>
				</li>
				<li>
					<a href="javascript:void(0)" class="s_ocial__f_acebook">
						<svg>
							<use href="img/sprite-svg-fill-delete.svg#facebook"></use>
						</svg>
					</a>
				</li>
				<li>
					<a href="javascript:void(0)" class="s_ocial__i_nstagram">
						<svg>
							<use href="img/sprite-svg-fill-delete.svg#instagram"></use>
						</svg>
					</a>
				</li>
				<li>
					<a href="javascript:void(0)" class="s_ocial__t_elegram">
						<svg>
							<use href="img/sprite-svg-fill-delete.svg#telegram"></use>
						</svg>
					</a>
				</li>
				<li>
					<a href="javascript:void(0)" class="s_ocial__v_iber">
						<svg>
							<use href="img/sprite-svg-fill-delete.svg#viber"></use>
						</svg>
					</a>
				</li>
				<li>
					<a href="javascript:void(0)" class="s_ocial__w_hatsapp">
						<svg>
							<use href="img/sprite-svg-fill-delete.svg#whatsapp"></use>
						</svg>
					</a>
				</li>
			</ul>
		</div>
		<div class="header__bl-5">
			<div class="toggle-wrapper">
				<button class="toggle-btn">
					<span></span>
					<span></span>
					<span></span>
					<span></span>
				</button>
				<div class="toggle__content">
					<div></div>
				</div>
			</div>
		</div>
	</div><!-- END CONTAINER -->
</header>
