/*
=================================
	CONTENT BLOCKS
=================================
*/
.content {
	display: flex;
}

.content-1,
.content-2 {
	gap: 60px;
}

.content-1__main {
	flex-grow: 1;
}

@media (min-width: 1025px) {
	.content-1 {
		align-items: center;
	}

	.content-2__main,
	.content-2__aside {
		width: 50%;
	}

	.content-2__main {
		order: 1;
	}
}

@media (min-width: 1201px) {
	.content-1 {
		max-width: 1080px;
	}

	.content-1__aside {
		flex: none;
		width: mp(450, 1080);
	}
}

.info-1 {
	h2 {
		font-size: fsz(38, 15);
	}
}

@keyframes pulse {
	50% {
		box-shadow: 0 0 0 5px rgba($c1, 0.1),
			0 0 0 20px rgba($c14, 0.3);
	}
}

.info-1__video {
	position: relative;

	.list-img {
		padding-top: 118.89%;
	}

	span {
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 1;
		transform: translate(-50%, -50%);
		width: 55px;
		height: 55px;
		border-radius: 50%;
		cursor: pointer;
		animation: pulse 2s infinite;
		@include trs-all;

		svg {
			position: relative;
			z-index: 1;
			width: 55px;
			height: 55px;
			fill: $c4;
		}

		&:after {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 20px;
			height: 20px;
			background-color: $c1;
		}

		&:hover {
			background-color: $c15;
		}
	}
}

/*
=================================
	TOP SECTION
=================================
*/
.top-section {
	position: relative;

	.list-img,
	&:after {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	&:after {
		content: '';
		z-index: 1;
		background-color: rgba($c3, 0.8);
	}

	.container {
		position: relative;
		z-index: 2;
		min-height: 100vh;
		display: flex;
		align-items: center;
	}
}

.top-section__content {
	color: $c1;

	h1 {
		margin-bottom: 28px;
		line-height: 1.25;
		letter-spacing: 0.2em;
		text-transform: uppercase;

		strong {
			display: inline-block;
			font-weight: inherit;
			color: $c4;
		}

		&~p {
			padding-left: 10px;
		}
	}

	p {
		font-size: fsz(12, 15);
		font-weight: 300;
		line-height: 1.25;

		&+.top-section__add {
			padding-top: 28px;
		}
	}
}

.top-section__add {
	display: grid;
	grid-template-columns: 170px 170px 1fr;
	gap: 22px;

	div {
		&:not(:last-child) {
			.btn {
				width: 100%;
			}
		}
	}

	.icon-order {
		padding-left: 31px;

		svg {
			width: 19px;
			height: 19px;
		}
	}

	.icon-catalog {
		padding-left: 28px;

		svg {
			width: 16px;
			height: 19px;
		}
	}

	.icon-play {
		padding-left: 34px;

		svg {
			width: 22px;
			height: 22px;
			fill: $c4;
		}

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 4px;
			width: 14px;
			height: 14px;
			border-radius: 50%;
			background-color: $c1;
		}
	}
}

@media (min-width: 1201px) {
	.top-section {
		margin-top: -268px;

		.container {
			padding-top: 213px;
			padding-bottom: 223px;
		}
	}

	.top-content {
		opacity: 0;

		.breadcrumbs,
		.breadcrumbs+h1 {
			opacity: 1;
		}
	}
}

/*
=================================
	REVIEWS
=================================
*/
.reviews {
	position: relative;

	.list-img,
	&:after {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	&:after {
		content: '';
		z-index: 1;
		background-color: rgba($c3, 0.8);
	}

	.container {
		position: relative;
		z-index: 2;
		padding-top: 100px;
		padding-bottom: 100px;

		>strong,
		h2 {
			text-align: center;
		}

		>strong {
			display: block;
			font-size: fsz(14, 15);
			font-weight: 300;
			line-height: 1;
			color: $c4;
			text-transform: uppercase;

			&+h2 {
				margin-top: 10px;
			}
		}

		h2 {
			margin-bottom: 64px;
			font-size: fsz(32, 15);
			font-weight: 500;
			line-height: 1.25;
			color: $c1;
		}
	}
}

.reviews-slider__item {
	blockquote {
		position: relative;
		margin-bottom: 40px;
		padding: 40px 35px;
		font-size: fsz(18, 15);
		font-weight: 300;
		line-height: 1.45;
		color: rgba($c1, 0.85);
		background-color: rgba($c10, 0.30);
		border: 1px solid $c9;
		border-radius: 7px;

		svg {
			position: absolute;
			top: -10px;
			right: 30px;
			width: 30px;
			height: 26px;
			fill: $c4;
		}
	}
}

.reviews-slider__author {
	display: flex;
	align-items: center;

	div {
		&:first-child {
			flex: none;
			padding-right: 15px;
		}

		&:last-child {
			flex-grow: 1;
		}
	}

	span {
		position: relative;
		display: inline-block;
		width: 60px;
		height: 60px;
		background-color: $c4;
		border-radius: 50%;

		svg {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 30px;
			height: 34px;
			fill: $c1;
		}
	}

	p {
		font-size: fsz(16, 15);
		color: rgba($c1, 0.35);

		&:last-child {
			margin-bottom: 0;
		}

		strong {
			display: block;
			margin-bottom: 8px;
			font-size: fsz(18, 15);
			font-weight: 500;
			line-height: 1.2;
			color: $c1;
		}
	}
}

.reviews__slider-wrapper {
	.swiper {
		padding-top: 10px;
		padding-bottom: 75px;
	}

	.swiper-horizontal>.swiper-pagination-bullets,
	.swiper-pagination-bullets.swiper-pagination-horizontal {
		bottom: 0;
	}

	.swiper-pagination-bullet {
		width: 35px;
		height: 6px;
		margin-right: 6px;
		border-radius: 3px;
		background-color: $c11;
		opacity: 1;
		@include trs-all;

		&:last-child {
			margin-right: 0;
		}

		&.swiper-pagination-bullet-active {
			width: 95px;
			background-color: $c4;
		}
	}
}

@media (max-width: 768px) {
	.reviews {
		.container {
			padding-top: 70px;
			padding-bottom: 70px;
		}
	}
}

/*
=================================
	SERVICES
=================================
*/
.top-section+.services {
	position: relative;
	z-index: 10;
	margin-top: -70px;
}

.services__list {
	margin-bottom: 0;

	a {
		position: relative;
		display: block;
		height: 100%;
		color: $c1;

		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(180deg, rgba($c3, 0) 0%, $c3 100%);
			@include trs-all;
		}

		&:hover {
			text-decoration: none;

			&:after {
				background: linear-gradient(180deg, rgba($c3, 0) 0%, $c12 100%);
			}

			.list-img+div {
				bottom: 43px;
			}
		}
	}

	.list-img {
		padding-top: 133.335%;

		&+div {
			position: absolute;
			z-index: 1;
			left: mp(30, 300);
			right: mp(30, 300);
			bottom: 28px;
			@include trs-all;
		}
	}

	strong {
		display: block;
		margin-bottom: 10px;
		font-size: fsz(14, 15);
		font-weight: 700;
		line-height: 1.2;
	}

	p {
		font-size: fsz(12, 15);
		line-height: 1.25;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

@media (min-width: 769px) {
	.top-section+.services {
		margin-top: -100px;
	}
}

@media (max-width: 576px) {
	.services__list {

		a {
			&:hover {
				.list-img+div {
					bottom: 35px;
				}
			}
		}

		.list-img {
			&+div {
				left: 20px;
				right: 20px;
				bottom: 18px;
			}
		}

		strong {
			font-size: 1rem;
		}

		p {
			font-size: fsz(12, 14);
		}
	}
}

@media (max-width: 360px) {
	.services__list {
		a {
			&:hover {
				.list-img+div {
					bottom: 25px;
				}
			}
		}

		.list-img {
			&+div {
				left: 15px;
				right: 15px;
				bottom: 13px;
			}
		}

		strong {
			margin-bottom: 5px;
			font-size: fsz(12, 14);
		}

		p {
			font-size: fsz(10, 14);
		}
	}
}

@media (max-width: 320px) {
	.services__list {
		a {
			&:hover {
				.list-img+div {
					bottom: 20px;
				}
			}
		}

		.list-img {
			&+div {
				left: 15px;
				right: 15px;
				bottom: 13px;
			}
		}

		strong {
			font-size: fsz(11, 14);
		}

		p {
			font-size: fsz(9, 14);
		}
	}
}

/*
=================================
	PRODUCTS LIST
=================================
*/
.products-list {
	li {
		display: flex;
		flex-direction: column;
		border: 1px solid $c5;
	}

	a {
		display: block;
		height: 100%;

		&:hover {
			text-decoration: none;

			strong {
				color: $c4;
			}
		}
	}

	.list-img-2 {
		padding-top: 100%;
		border-bottom: 1px solid $c5;

		div {
			top: 15px;
			bottom: 15px;
			left: 15px;
			right: 15px;
		}

		&+div {
			flex-grow: 1;
			display: flex;
			flex-direction: column;
			padding: 13px 15px;
		}
	}

	strong,
	span {
		display: block;
	}

	strong {
		margin-bottom: 10px;
		font-size: fsz(16, 15);
		font-weight: 700;
		line-height: 1.2;
		@include trs-all;
	}

	span {
		margin-top: auto;
		font-size: fsz(14, 15);
		font-weight: 500;
		line-height: 1;
		color: $c6;
	}
}

@media (max-width: 576px) {
	.products-list {
		strong {
			font-size: fsz(16, 14);
		}

		span {
			font-size: 1rem;
		}
	}
}

@media (max-width: 415px) {
	.products-list {
		strong {
			margin-bottom: 5px;
			font-size: 1rem;
		}

		span {
			font-size: fsz(12, 14);
		}
	}
}

@media (max-width: 320px) {
	.products-list {
		strong {
			font-size: fsz(12, 14);
		}

		span {
			font-size: fsz(10, 14);
		}
	}
}

/*
=================================
	PRODUCTS DETAILS
=================================
*/
.product-details {
	display: flex;
	gap: 50px;
}

.product-details__content {
	h1 {
		margin-bottom: 17px;
	}
}

.product-details__add {
	padding: 17px 20px 20px 20px;
	border: 1px solid $c13;
	border-radius: 5px;

	h2 {
		margin-bottom: 22px;
	}
}

@media (min-width: 1025px) {
	.product-details__aside {
		flex: none;
		width: 40%;
	}

	.product-details__content {
		padding-top: 8px;
		flex-grow: 1;
	}
}

@media (min-width: 1201px) {
	.product-details {
		max-width: 1000px;

		.breadcrumbs,
		.breadcrumbs+h1 {
			opacity: 1;
		}
	}
}

@media (max-width: 1024px) {
	.product-details {
		flex-direction: column;
	}
}

.order-form {
	display: grid;
	grid-template-columns: 1fr 130px 170px;
	gap: 16px;
	align-items: flex-end;

	label,
	input,
	.btn {
		font-size: 1rem;
	}

	label,
	input {
		padding-left: 15px;
	}

	label {
		display: block;
		margin-bottom: 10px;
		line-height: 1;
	}

	input {
		width: 100%;
		height: 40px;
		padding-right: 15px;
		border-radius: 5px;
		background-color: rgba($c11, 0.5);
		border: 1px solid transparent;
		@include trs-all;

		&:focus {
			border-color: $c3;
		}
	}

	.btn {
		width: 100%;
	}
}

/*
=================================
	CONTACTS
=================================
*/
.contacts-list {
	li {
		font-size: fsz(16, 15);
		color: $c8;
		text-align: center;

		p {
			line-height: 1.45;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	span {
		position: relative;
		display: inline-block;
		width: 50px;
		height: 50px;
		color: $c4;

		svg {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			fill: currentColor;

			&.icon-headphones {
				width: 44px;
				height: 50px;
			}

			&.icon-email-2 {
				width: 50px;
				height: 34px;
			}

			&.icon-location {
				width: 33px;
				height: 50px;
			}
		}
	}

	strong {
		display: block;
		margin-top: 23px;
		margin-bottom: 18px;
		font-size: fsz(24, 15);
		font-weight: 400;
		line-height: 1.2;
	}

	a {
		display: table;
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;
		color: $c8;

		&:hover {
			text-decoration: none;
			color: $c4;
		}
	}
}

@media (max-width: 768px) {
	.contacts-list {
		li {
			font-size: 1rem;
		}

		strong {
			font-size: fsz(20, 15);
		}
	}
}

@media (max-width: 640px) {
	.contacts-list {
		gap: 40px 30px;
	}
}

@media (max-width: 576px) {
	.contacts-list {
		gap: 40px 20px;

		strong {
			font-size: fsz(18, 14);
		}
	}
}

@media (max-width: 360px) {
	.contacts-list {
		gap: 40px 15px;

		li {
			font-size: fsz(12, 14);
		}

		strong {
			font-size: fsz(16, 14);
		}
	}
}

.contacts-info {
	h2 {
		font-size: fsz(24, 15);
		font-weight: 500;
		text-transform: uppercase;
	}
}

.contacts-info__map {
	padding-top: 65%;
}

.contacts-info__list-1,
.contacts-info__list-2 {
	li {
		color: $c8;
	}
}

.contacts-info__list-1 {
	margin-bottom: 40px;

	li {
		font-size: fsz(18, 14);
		font-weight: 300;
		line-height: 1;

		&:not(:last-child) {
			margin-bottom: 14px;
		}
	}
}

.contacts-info__list-2 {
	margin-bottom: 0;

	li {
		position: relative;
		padding-left: 50px;
		font-size: fsz(16, 14);
		line-height: 1.6;

		&:not(:last-child) {
			margin-bottom: 25px;
		}

		svg {
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			fill: $c2;

			&.icon-location {
				width: 30px;
				height: 45px;
			}

			&.icon-smartphone {
				width: 30px;
				height: 30px;
			}

			&.icon-letteropen {
				width: 30px;
				height: 32px;
			}
		}
	}

	a {
		display: table;
		max-width: 100%;
		color: $c8;

		&:hover {
			text-decoration: none;
			color: $c4;
		}
	}
}

/*
=================================
	ABOUT
=================================
*/
.about__add,
.about__info {
	h2 {
		font-size: fsz(38, 15);
		font-weight: 500;
	}
}

.about__add {
	background-color: $c4;

	.container {
		display: flex;
		gap: 30px 15px;
		justify-content: space-between;
		align-items: center;
		padding-top: 30px;
		padding-bottom: 30px;

		div {
			&:first-child {
				position: relative;

				.icon-smartphone {
					position: absolute;
					top: 50%;
					left: 0;
					transform: translateY(-50%);
					width: 70px;
					height: 70px;
					fill: $c1;
					opacity: 0.1;
				}
			}
		}
	}

	h2 {
		position: relative;
		z-index: 1;
		margin-bottom: 0;
		line-height: 1;
		color: $c1;
	}

	.btn {
		span {
			position: relative;
			display: inline-block;
			padding-right: 32px;

			svg {
				position: absolute;
				top: 50%;
				right: 0;
				transform: translateY(-50%);
				width: 22px;
				height: 12px;

			}
		}

		&.btn-info-2 {
			span {
				svg {
					fill: $c4;
				}
			}

			&:hover {
				span {
					svg {
						fill: $c1;
					}
				}
			}
		}
	}
}

.about__add,
.about__info {
	h2 {
		font-size: fsz(38, 15);
		font-weight: 500;
	}
}

.about__info {
	h2 {
		padding-top: 65px;
		margin-bottom: 0;
		line-height: 1.25;
		text-align: center;
		background: url(../img/bg-1.png) no-repeat 50% 0;

		span {
			display: inline-block;
			color: $c4;
		}

		&+a {
			display: table;
			margin-left: auto;
			margin-right: auto;
			font-size: fsz(38, 15);
			font-weight: 500;
			line-height: 1.25;

			&:hover {
				text-decoration: none;
				color: $c4;
			}
		}
	}
}

.about__certificates {
	display: flex;
	gap: 60px 30px;
	padding-top: 40px;

	>div {
		width: 50%;
	}

	.list-img {
		padding-top: 142.86%;
	}
}
