@use 'mixins';
@use 'sass:color';

footer {
	background-color: var(--c7);
}

.footer__top,
.footer__bottom {
	font-size: mixins.fsz(16, 15);
}

.footer__top {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 30px;
	padding-top: 80px;
	padding-bottom: 73px;
	color: var(--c8);

	ul {
		margin-bottom: 0;
	}

	p {
		&:first-child {
			margin-bottom: 24px;
			padding-left: 12px;
			font-size: mixins.fsz(18, 15);
			font-weight: 700;
			line-height: 1;
			color: var(--c1);
			text-transform: uppercase;
		}
	}

	>div {
		&:last-child {
			p:first-child {
				padding-left: 25px;
			}
		}
	}
}

.footer__logo-company {
	display: inline-block;
	margin-bottom: 20px;

	&+p {
		margin-bottom: 0;
		line-height: 1.85;
	}
}

.footer__list-1 {
	display: inline-block;
	vertical-align: top;
	width: calc(50% - 4px);

	li {
		position: relative;
		padding-left: 12px;
		line-height: 1.2;

		&:not(:last-child) {
			margin-bottom: 23px;
		}

		&:after {
			content: '';
			position: absolute;
			top: 10px;
			left: 0;
			width: 2px;
			height: 2px;
			border-radius: 50%;
			background-color: var(--c8);
		}
	}

	a {
		display: inline-block;
		color: var(--c8);

		&:hover {
			text-decoration: none;
			color: var(--c1);
		}
	}
}

.footer__list-2 {
	color: var(--c1);

	li {
		position: relative;
		padding-left: 25px;
		line-height: 1.55;

		&:not(:last-child) {
			margin-bottom: 15px;
		}

		svg {
			position: absolute;
			left: 0;
			fill: var(--c1);
		}
	}

	a {
		display: table;
		max-width: 100%;
		color: var(--c1);
	}

	.icon-production {
		width: 16px;
		height: 16px;
		top: 3px;
	}

	.icon-office {
		width: 16px;
		height: 18px;
		top: 2px;
	}

	.icon-phone {
		top: 2px;
		width: 16px;
		height: 17px;

		&:last-child {
			top: 27px;
		}
	}

	.icon-email {
		width: 16px;
		height: 13px;
		top: 6px;
	}
}

.copyright {
	position: relative;
	display: inline-block;
	margin-bottom: 0;
	padding: 26px 50px 24px 0;
	color: var(--c1);
	background-color: var(--c4);

	&:before,
	&:after {
		content: '';
		position: absolute;
		top: 0;
		height: 100%;
		background-color: var(--c4);
	}

	&:before {
		left: -2000px;
		width: 2000px;
	}

	&:after {
		right: -50px;
		width: 50px;
		clip-path: polygon(0 0, 0% 100%, 50px 100%);
	}

	a {
		display: inline-block;
		font-weight: 500;
		color: var(--c1);
	}
}

@media (max-width: 768px) {
	.footer__top {
		grid-template-columns: 1fr;
		gap: 38px 0;
		padding-top: 70px;
		padding-bottom: 63px;

		p:first-child {
			margin-bottom: 15px;
		}
	}

	.footer__list-1 {
		li {
			&:not(:last-child) {
				margin-bottom: 10px;
			}
		}
	}
}

@media (max-width: 576px) {

	.footer__top,
	.footer__bottom {
		font-size: mixins.fsz(12, 14);
	}

	.footer__top {
		p:first-child {
			font-size: 1rem;
		}
	}

	.footer__list-1 {
		li {
			&:after {
				top: 6px;
			}
		}
	}

	.footer__list-2 {
		color: var(--c1);

		li {
			position: relative;
			padding-left: 25px;
			line-height: 1.55;

			&:not(:last-child) {
				margin-bottom: 15px;
			}

			svg {
				position: absolute;
				left: 0;
				fill: var(--c1);
			}
		}

		a {
			display: table;
			max-width: 100%;
			color: var(--c1);

			&:not(:last-child) {
				margin-bottom: 6px;
			}
		}

		.icon-production {
			top: 0;
		}

		.icon-office {
			top: -1px;
		}

		.icon-phone {
			top: -2px;

			&:last-child {
				top: 23px;
			}
		}

		.icon-email {
			top: 3px;
		}
	}

	.footer__bottom {
		margin-right: -20px;
	}

	.copyright {
		width: calc(100% - 50px);
		padding-right: 20px;
	}
}

@media (max-width: 360px) {
	.footer__bottom {
		margin-right: -15px;
	}

	.copyright {
		padding-right: 15px;
	}
}
