header {
	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	ul {
		margin-bottom: 0;
	}
}

.logo-company {
	display: inline-block;

	img,
	strong {
		display: inline-block;
		vertical-align: middle;
	}

	img {
		&+strong {
			padding-left: 16px;
		}
	}

	strong {
		font-size: fsz(12, 16);
		font-weight: 300;
		line-height: 1.25;
		color: $c1;
	}
}

.header__nav {
	a {
		&:hover {
			text-decoration: none;
		}
	}
}

.header__phones a,
.header__address {
	font-size: fsz(12, 16);
	color: $c1;
}

.header__phones {
	a {
		display: inline-block;

		font-weight: 900;
		line-height: 1;


		&:hover {
			text-decoration: none;
			color: $c4;
		}
	}
}

.header__address {
	font-weight: 400;
	line-height: 1.25;
}

@media (min-width: 1201px) {
	.header__bl-1 {
		display: none;
	}

	.header__nav {

		li,
		a {
			display: inline-block;
		}

		li {
			&:not(:last-child) {
				margin-right: 12px;
			}
		}

		a {
			font-size: fsz(12, 16);
			font-weight: 500;
			line-height: 1;
			color: $c1;

			&:hover {
				color: $c4;
			}
		}
	}
}
