.list-1,
.list-2,
.list-3,
.list-4 {
	display: grid;
}

.list-1,
.list-2 {
	gap: 30px;
}

.list-3 {
	gap: 53px 30px;
}

.list-1 {
	grid-template-columns: repeat(3, 1fr);
}

.list-2,
.list-4 {
	grid-template-columns: repeat(4, 1fr);
}

.list-3 {
	grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 1024px) {
	.list-2 {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (max-width: 768px) {
	.list-4 {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (max-width: 640px) {

	.list-1,
	.list-2 {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 576px) {

	.list-1,
	.list-2 {
		gap: 20px;
	}

	.list-3 {
		gap: 37px 20px;
	}

	.list-4 {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 360px) {

	.list-1,
	.list-2 {
		gap: 15px;
	}

	.list-3 {
		gap: 28px 15px;
	}
}
