@use 'sass:string';
@use 'sass:math';
@use 'sass:color';

// FONT FACE VARIABLE
@mixin font-face-variable($font-name, $path, $weight: normal, $font-display: swap) {
	@font-face {
		font-family: string.quote($font-name);
		src: url(../fonts/#{$path}.woff2) format('woff2-variations'),
		url(../fonts/#{$path}.woff2) format('woff2') tech('variations');
		font-weight: $weight;
		font-display: $font-display;
	}
}

// FONT FACE
@mixin font-face($font-name, $path, $weight: normal, $style: normal, $font-display: swap) {
	@font-face {
		font-family: string.quote($font-name);
		src: url(../fonts/#{$path}.woff2) format('woff2'),
		url(../fonts/#{$path}.woff) format('woff');
		font-weight: $weight;
		font-style: $style;
		font-display: $font-display;
	}
}

// MATH PERCENT
@function mp($val1, $val2) {
	@return math.percentage(math.div($val1, $val2));
}

// ASPECT RATIO
@function ar($width, $height) {
	@return math.div($width, $height) * 10 string.unquote('/') 10;
}

// FON SIZE IN REM
@function fsz($val1, $val2) {
	@return math.div($val1, $val2)+rem;
}

// PLACEHOLDER
@mixin placeholder {
	&::-webkit-input-placeholder {
		@content;

		&:focus {
			color: transparent;
		}
	}

	&:-moz-placeholder {
		@content;

		&:focus {
			color: transparent;
		}
	}

	&::-moz-placeholder {
		@content;

		&:focus {
			color: transparent;
		}
	}

	&:-ms-input-placeholder {
		@content;

		&:focus {
			color: transparent;
		}
	}
}

// IMG STYLES
@mixin imgSt() {
	height: 100%;
	min-width: 100%;
	object-fit: cover;
	// object-position: 0 0;
}

@mixin imgSt1() {
	height: 100%;
	min-width: 100%;
	object-fit: cover;
	object-position: 50% 0;
}

@function set-opacity($color) {
	$lightness: lightness($color);
	$lightness-number: percent-to-number($lightness);
	$trans-value: transparentize($color, $lightness-number);
	@return $trans-value;
}

// TRANSITION
@mixin trs($tRs: all) {
	transition: $tRs 0.3s ease-in-out;
}
